body {
    margin: 0;
    padding: 0;
    background: var(--gray-light);
}

.swiper{
    overflow: none !important;
}

main {
    overflow: hidden;

    /* COLORES */
    --primary: #e00071;
    --secondary: #89187B;
    --lilac: #724C9F;
    --rgba-lilac: 114, 76, 159;
    --purple: #432F87;
    --rgba-purple: 67, 47, 135;
    --cyan: #2BABE2;
    --rgba-cyan: 43, 171, 226;
    --green: #77C043;
    --rgba-green: 119, 192, 67;
    --yellow: #FFD200;
    --rgba-yellow: 255, 210, 0;
    --orange: #F58220;
    --rgba-orange: 245, 130, 32;
    --pink: #EA0B8B;
    --rgba-pink: 234, 11, 139;
    --red: #EC2127;
    --rgba-red: 236, 33, 39;
    --black: #0a0a0a;
    --rgba-black: 10, 10, 10;
    --white: #FFFAFA;
    --white-full: #FFFFFF;
    --rgba-white: 255, 250, 250;
    --green-light: #D2D90B;
    --rgba-green-light: 210, 217, 11;
    --green-dark: #18401E;
    --rgba-green-dark: 24, 64, 30;
    --gray-light: #ececec;
    --gray-dark: #dbdbdb;
    --black-x: #666666;
    --black-m: #2e2e2e;
    --bg-button: ;
    --bg-secondary: rgb(246, 246, 246);
    /* ESTILOS FUENTES */
    --font-size-xxl: 2rem;
    --font-size-xl: 1.8rem;
    --font-size-l: 1.5rem;
    --font-size-m: 0.9rem;
    --font-size-s: 0.775rem;
    --font-size-x: 0.700rem;
    --font-size-xs: 0.600rem;
    --font-secondary: "Onest", sans-serif;
    --font-primary: "Urbanist", sans-serif;
    --font-terciary: "Titillium Web", sans-serif;
    --font-wght-bolder: 900;
    --font-wght-bold: 700;
    --font-wght-light: 400;
    /* ESPACIADOS */
    --pm-1: 1rem;
    --pm-2: 2rem;
    --pm-3: 3rem;
    --pm-4: 4rem;
    --pm-5: 5rem;
    --pm-6: 6rem;
    --pm-7: 7rem;
    --pm-8: 8rem;
    --pm-9: 9rem;
    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-25: 25px;
    --gap-30: 30px;
    --gap-35: 35px;
    --padding-button: 0.725rem 1rem;
    --padding-labels: 0.325rem 0.7rem;
    /* */
    --overlay-bg: linear-gradient(to top, rgba(var(--rgba-black), 0.8), transparent);
    --radius-button: 0.375rem;
    --radius: 1.5rem;
    --max-width: 1000px;
    --max-width-full: 100%;
    --shadow-card-customs: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.12);
    --shadow: 0.625rem 1.5rem 3.5rem 0 rgba(0,0,0,0.1215686275);
    --shadow-color: 0px 7px 29px 0px;
    --transition: all 0.3s;
    --scale: scale(1.04);
    transition: var(--transition);
    font-family: var(--font-primary);
    box-sizing: border-box;
}

main img{
    filter: saturate(150%);
}

.banner {
    width: var(--max-width-full);
    text-align: left;
}

.banner .carrusel {
    cursor: grab;
}

.banner .carrusel .image {
    width: var(--max-width-full);
    height: 85vh;
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);
}

.banner .carrusel .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
}

.banner .carrusel .overlay .text {
    width: 100%;
    padding: var(--pm-4);
    background: var(--overlay-bg);
    color: var(--white);
}

.banner .carrusel .overlay .labels {
    display: flex;
    gap: var(--gap-primary);
    font-size: var(--font-size-x);
    font-weight: var(--font-wght-bold);
    margin-bottom: 10px;
}

.banner .carrusel .overlay .labels span {
    padding: var(--padding-labels);
    background: rgba(var(--rgba-yellow));
    color: var(--black);
    border-radius: var(--radius-button);
    font-family: var(--font-terciary);
}

.banner .carrusel h2 {
    margin: 0;
    font-weight: var(--font-wght-bolder);
    font-size: var(--font-size-xl);
}

.banner .carrusel p {
    font-size: var(--font-size-m);
    text-wrap: balance;
    color: var(--gray-light);
    margin: 10px 0 15px 0;
}

.banner .carrusel .buttons {
    display: flex;
    gap: var(--gap-5);
}

.banner .carrusel .buttons a {
    font-family: var(--font-terciary);
    padding: var(--padding-button);
    font-size: var(--font-size-x);
    text-decoration: none;
    color: var(--white);
    border-radius: var(--radius-button);
    background: var(--primary);
    font-weight: var(--font-wght-bold);
    transition: var(--transition);
}

.banner .carrusel .buttons a:hover {
    filter: brightness(80%);
}

.banner .carrusel .buttons a:nth-child(2) {
    background: var(--white);
    color: var(--primary);
}

.banner .carrusel .image:hover img {
    transform: var(--scale);
}

.banner .carrusel .image img {
    width: var(--max-width-full);
    height: var(--max-width-full);
    object-fit: cover;
    transition: var(--transition);
}

/* */

.navigation {
    text-align: center;
    background: var(--white-full);
}

.navigation .box{
    background: var(--white-full);
}

.navigation .line {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, var(--red), var(--pink), var(--orange), var(--yellow), var(--green), var(--cyan), var(--lilac), var(--purple));
}

.navigation .container {
    width: var(--max-width);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
}

.navigation .container .box {
    flex: 1;
    padding: var(--pm-1);
    display: flex;
    text-decoration: none;
    justify-content: center;
    transition: var(--transition);
    border-right: 1px solid var(--gray-dark);
    box-sizing: border-box;
}

.navigation .container .box:last-child {
    border-right: none;
    /* Elimina el borde derecho del último elemento */
}

.navigation .box:hover {
    background: var(--secondary);
    color: var(--white);
    border: none;
}

.navigation .box:hover svg {
    color: var(--white);
}

.navigation .box:hover h2 {
    color: var(--white);
}

.navigation .box h2 {
    margin: 0;
    font-weight: var(--font-wght-bold);
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-5);
    color: var(--black-m);
}

.navigation .box p {
    font-size: var(--font-size-s);
    color: var(--black-x);
    margin: 10px 0 0;
}

/* */

.promotions {
    text-align: left;
    display: flex;
    padding: var(--pm-3) 0;
    transition: var(--transition);
}

.promotions swiper-slide{
    transition: var(--transition);
}

.promotions swiper-slide:hover {
    transform: var(--scale);
}

.promotions swiper-slide:hover .image img {
    transform: var(--scale);
}

.promotions .carrusel-promotions {
    max-width: var(--max-width);
    width: var(--max-width-full);
}

.promotions .card-custom {
    overflow: hidden;
    width: 100%;
    background: var(--white-full);
    box-shadow: var(--shadow-card-customs);
    transition: var(--transition);
    border-radius: var(--radius);
}

.promotions .image {
    width: 100%;
    position: relative;
}

.promotions .image img {
    width: 100%;
    transition: var(--transition);
}

.promotions .text {
    box-sizing: border-box;
    padding: var(--pm-1);
}

.promotions .text h1 {
    margin: 0;
    font-size: var(--font-size-m);
    color: var(--orange);
    font-family: var(--font-terciary);
    font-weight: var(--font-wght-bold);
    margin: 0 0 10px 0;
}

.promotions .text p {
    font-size: var(--font-size-x);
    color: var(--black-m);
    margin: 0 0 20px 0;
}

.promotions .text #terms {
    display: flex;
    gap: var(--gap-5);
    align-items: center;
    width: fit-content;
    padding: var(--padding-labels);
    font-size: var(--font-size-xs);
    text-decoration: none;
    color: var(--black-m);
    border-radius: var(--radius-button);
    background: var(--gray-light);
    font-weight: var(--font-wght-bold);
    transition: var(--transition);
}

.promotions .persons {
    padding: 0 0 10px 0;
    margin: 15px 0 0 0;
    border-top: 1px solid var(--gray-dark);
}

.promotions .persons h2 {
    font-size: var(--font-size-x);
    color: var(--black-x);
    font-weight: var(--font-wght-light);
    margin: 10px 0 0 0;
}

.promotions .price {
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--gray-dark);
    justify-content: space-between;
}

.promotions .price p {
    display: flex;
    margin: 0;
    font-size: var(--font-size-s);
    font-weight: var(--font-wght-bold);
    color: var(--primary);
    flex-direction: column;
    text-align: right;
    font-family: var(--font-terciary);
}

.promotions .price p span {
    font-size: var(--font-size-x);
    text-decoration: line-through;
    font-weight: var(--font-wght-light);
}

.promotions .price h2 {
    display: flex;
    flex-direction: column;
    font-weight: var(--font-wght-bolder);
    margin: 0;
    color: var(--black);
    font-size: var(--font-size-s);
}

.promotions .price h2 span {
    font-size: var(--font-size-x);
    font-weight: var(--font-wght-light);
}

.promotions .others {
    border-top: 1px solid var(--gray-dark);
}

.promotions .others h3 {
    font-size: var(--font-size-s);
    font-weight: var(--font-wght-bolder);
    color: var(--black-x);
    margin: 15px 0 15px 0;
}

.promotions .others .box {
    display: flex;
    gap: var(--gap-5);
}

.promotions .others a {
    padding: var(--padding-labels);
    font-size: var(--font-size-x);
    font-weight: var(--font-wght-bold);
    border-radius: var(--radius-button);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.promotions #vaope {
    background: #E2346C;
}

.promotions #joinnus {
    background: #05F2AF;
}

.promotions #cuponidad {
    background: #ffaa00;
}

.promotions .button {
    display: flex;
    justify-content: center;
}

.promotions .button a {
    width: 100%;
    padding: var(--padding-button);
    font-size: var(--font-size-s);
    font-weight: var(--font-wght-bold);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    background: var(--primary);
    transition: var(--transition);
    font-family: var(--font-terciary);
}

.promotions .card-custom:hover .button a {
    background: var(--gray-light);
    color: var(--black-m);
}

/* */

.atractions {
    text-align: left;
    display: flex;
    padding: var(--pm-3) 0;
    justify-content: center;
}

.atractions .carrusel-atractions {
    max-width: var(--max-width);
    display: flex;
}

.atractions h1 {
    font-weight: var(--font-wght-bold);
    font-size: var(--font-size-xl);
    text-align: center;
    color: var(--orange);
    font-family: var(--font-terciary);
    margin: 0;
}

.atractions p{
    text-align: center;
    font-size: var(--font-size-m);
    font-family: var(--font-terciary);
    font-weight: var(--font-wght-bold);
    color: var(--black-m);
    margin: 5px 0 var(--pm-2) 0;
}

.atractions .card-custom {
    transition: var(--transition);
    box-shadow: var(--shadow-card-customs);
}

.atractions .image {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    height: 350px;
}

.atractions .card-custom:hover .image img {
    transform: var(--scale);
}

.atractions .image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
}

.atractions .image img {
    transition: var(--transition);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.atractions .image .overlay .text {
    width: 100%;
    padding: var(--pm-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.atractions swiper-slide:nth-child(1) .image .overlay .text {
    background: var(--red);
}

.atractions swiper-slide:nth-child(2) .image .overlay .text {
    background: var(--green);
}

.atractions swiper-slide:nth-child(3) .image .overlay .text {
    background: var(--cyan);
}

.atractions swiper-slide:nth-child(4) .image .overlay .text {
    background: var(--pink);
}

.atractions swiper-slide:nth-child(5) .image .overlay .text {
    background: var(--orange);
}

.atractions .overlay .text h2 {
    font-weight: var(--font-wght-bolder);
    font-size: var(--font-size-s);
    color: var(--white);
    margin: 0;
}

/* */

.caracteristicas {
    display: flex;
    padding: 0 0 var(--pm-3) 0;
    justify-content: center;
    box-sizing: border-box;
}

.caracteristicas .container {
    max-width: var(--max-width);
    width: var(--max-width-full);
    display: flex;
    justify-content: center;
    gap: var(--gap-15);
}

.caracteristicas .box {
    flex: 1;
    text-align: center;
    background: var(--white);
    padding: var(--pm-1);
    border-radius: var(--radius-button);
    box-shadow: var(--shadow);
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-10);
}

.caracteristicas .box h2 {
    font-size: var(--font-size-s);
    color: var(--black);
    text-wrap: balance;
    margin-bottom: 0;
    font-family: var(--font-terciary);
}

.caracteristicas .box svg {
    color: var(--primary);
}

/* */

.servicios {
    text-align: left;
    display: flex;
    padding: var(--pm-3) 0;
    background-image: linear-gradient(to left, var(--orange), var(--red), var(--pink));
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradient 5s ease infinite;
    animation-delay: 1s;
    justify-content: center;
    box-shadow: inset var(--shadow);
}

.servicios .container{
    overflow: hidden;
}

@keyframes gradient{
    0%{
        background-position: 0% 0%;
    }

    50%{
        background-position: 100% 100%;
    }

    100%{
        background-position: 0% 0%;
    }
}

.servicios .carrusel-servicios {
    max-width: var(--max-width);
    display: flex;
}

.servicios .card-custom{
    height: 230px !important;
    overflow: hidden;
    box-shadow: var(--shadow-card-customs);
    border-radius: var(--radius);
    display: flex !important;
    align-items: center;
    height: 200px;
    transition: var(--transition);
}


.servicios .card-custom:hover .image img{
    transform: var(--scale);
}

.servicios .card-custom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.servicios .card-custom .image{
    width: 50%;
    overflow: hidden;
}

.servicios .card-custom .text{
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
    padding: var(--pm-1);
    height: 100%;
}

.servicios .card-custom .text h2{
    margin: 0;
    font-size: var(--font-size-m);
    color: var(--secondary);
    font-weight: var(--font-wght-bolder);
}

.servicios .card-custom .text p{
    font-size: var(--font-size-s);
    color: var(--black-m);
    text-align: left;
    font-weight: var(--font-wght-light);
    margin: 15px 0 15px 0;
}

.servicios .card-custom .text a {
    display: blox;
    width: fit-content;
    padding: var(--padding-button);
    font-size: var(--font-size-s);
    font-weight: var(--font-wght-bold);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    background: var(--primary);
    transition: var(--transition);
    border-radius: var(--radius-button);
    box-sizing: border-box;
}

.servicios .card-custom:hover .text a {
    background: var(--gray-light);
    color: var(--black-m);
}

.servicios h1 {
    font-weight: var(--font-wght-bold);
    font-size: var(--font-size-xl);
    text-align: center;
    color: var(--white);
    font-family: var(--font-terciary);
    margin: 0;
}

.servicios p{
    text-align: center;
    font-size: var(--font-size-m);
    font-family: var(--font-terciary);
    font-weight: var(--font-wght-bold);
    color: var(--white);
    margin: 5px 0 var(--pm-2) 0;
}

.gastronomia{
    padding: var(--pm-3);
}

.gastronomia swiper-container{
    overflow: hidden !important;
}

.gastronomia .container{
    max-width: var(--max-width);
    width: var(--max-width-full);
    display: flex;
    gap: var(--gap-35);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.gastronomia .container .carta{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: var(--gap-20);
    border-right: 1px solid var(--gray-light);
    width: 50%;
    padding: 0 var(--pm-2);
}

.gastronomia .container .carta .box{
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.gastronomia .container .carta .box:hover{
    box-shadow: var(--shadow-card-customs);
}

.gastronomia .container .carta .box .image{
    width: 150px;
    height: 100px;
    border-radius: var(--radius-button);
}

.gastronomia .container .carta .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gastronomia .container .carta .box .text{
    padding: var(--pm-1);
    background: var(--white-full);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.gastronomia .container .carta a{
    color: var(--primary);
    text-decoration: none;
    font-size: var(--font-size-m);
    padding: var(--padding-button);
    font-weight: bold;
    font-family: var(--font-terciary);
}

.gastronomia .container .carta .box .text h2{
    margin: 0;
    font-weight: var(--font-wght-bold);
    font-size: var(--font-size-m);
    font-family: var(--font-terciary);
    color: var(--black-m);
}

.gastronomia .container .carta .box .text p{
    font-size: var(--font-size-s);
    color: var(--black-x);
    margin: 5px 0 0 0;
}

.gastronomia .banner-carta{
    width: 50%;
    text-align: left;
}

.gastronomia .banner-carta .image-carta{
    width: 100%;
    border-radius: var(--radius);
    overflow: hidden;
}

.gastronomia .banner-carta .image-carta img{
    transform: scale(1.04);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.gastronomia .banner-carta .image-carta:hover img{
    transform: scale(1.07);
}

.gastronomia .banner-carta .text{
    padding: var(--pm-1) 0;
}

.gastronomia .banner-carta .text h3{
    font-weight: var(--font-wght-bold);
    margin: 5px 0 0 0;
    font-size: var(--font-size-m);
    color: var(--black);
    font-family: var(--font-terciary);
}

.gastronomia .banner-carta .text p{
    font-size: var(--font-size-s);
    color: var(--black-m);
    margin: 10px 0 15px 0;
}

.gastronomia .banner-carta .text .button{
    display: flex;
    gap: var(--gap-5);
}

.gastronomia .banner-carta .text .button a{
    display: block;
    width: fit-content;
    padding: var(--padding-button);
    font-size: var(--font-size-s);
    font-weight: var(--font-wght-bold);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    background: var(--primary);
    transition: var(--transition);
    border-radius: var(--radius-button);
    box-sizing: border-box;
    font-family: var(--font-terciary);
}

.gastronomia .banner-carta .text .button a:nth-child(2) {
    background: transparent;
    color: var(--primary);
}

.gastronomia h1 {
    font-weight: var(--font-wght-bold);
    font-size: var(--font-size-xl);
    text-align: center;
    color: var(--orange);
    font-family: var(--font-terciary);
    margin: 0;
}

.gastronomia h4{
    text-align: center;
    font-size: var(--font-size-m);
    font-family: var(--font-terciary);
    font-weight: var(--font-wght-bold);
    color: var(--black-m);
    margin: 5px 0 var(--pm-2) 0;
}