.main-custom {
    --color-primary: #EC2127;
    --color-buttons:linear-gradient(45deg, #EA0B8B, var(--color-primary)) ;
    --rgba-primary: 236, 33, 39;
    --color-secondary: #f4f0f5;
    --color-white: #fff;
    --color-black: #100f1f;
    --color-paragraph: #0A0203;
    --color-border: #dedede;
    --border-color: 1px solid #E8E6E8;
    --padding-button: 0.625rem 1rem;
    --mini-padding-button: 0.425rem 0.8rem;
    --font-size-button: 0.9rem;
    --font-size-title: 1.8rem;
    --font-size-xl-title: 3rem;
    --font-size-lg-title: 1.2rem;
    --font-size-paragraph: 0.85rem;
    --font-size-medium-title: 0.85rem;
    --border-radius-estructures: 1.3rem;
    --border-radius-button: 0.5rem;
    --font: "Titillium Web", sans-serif;
    --weight-button: 700;
    --weight-title: 900;
    --weight-medium-title: 700;
    --weight-paragraph: 300;
    --shadow: 0 0 25px 3px rgba(0, 0, 0, .166);
    --shadow-2: 0 0 1rem rgba(0, 0, 0, 0.1);
    --shadow-with-color: 0px 0px 10px 0px;
    --transition: all 0.3s;
    --gutter: 20px;
}

.main-custom a {
    text-decoration: none;
    font-family: var(--font);
}

.main-custom #container {
    margin: 0 auto;
    max-width: 1320px;
    /* Resta el doble del padding de 89px a 1070px */
    width: 100%;
    padding: 7rem 0;
    /* quitar 40px cuando haya terminado */
}

.main-custom h1,
.main-custom h2,
.main-custom h3,
.main-custom h4,
.main-custom h5,
.main-custom h6,
.main-custom p {
    line-height: 1;
    text-align: left;
    font-family: var(--font);
}